h1 {
  font-size: 4rem;
}

.countdown-container {
  display: flex;
}

#start {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-text {
  line-height: 1;
  font-size: 5rem;
  margin: -1rem 3rem;
}

.count-dm {
  text-align: center;
}

.count-dm span {
  font-size: 1.5rem;
}