body {
    margin: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.note-container {
    background-color: #eeee;
    width: 350px;
    height: 350px;
    margin: 20px;
    background-color: white;
    display: inline-block;
}

.tools-container {
    background-color: cadetblue;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}

.tools-container button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: .5rem;
}

.text-container {
    height: 100%;
    width: 100%;
}

.text-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.tools-container button:hover {
    color: cadetblue;
}

.addNote {
    position: fixed;
    right: 1rem;
    top: 1rem;
    background-color: cadetblue;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: .5rem 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.addNote:hover {
    color: black;
}