.mem-container {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mem-container .level-title {
    position: absolute;
    top: 1.5rem;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 3rem;
}

.mem-container .game-container {
    width: 625px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10rem;
}

.mem-container .card-container {
    width: 150px;
    height: 90px;
    overflow: hidden;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    cursor: pointer;
    margin-top: .5rem;
    position: relative;
}

.mem-container .card-container img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: absolute;
    top: -1.7rem;
}

.mem-container .pass-level-container {
    height: 100px;
    width: 400px;
    margin-top: 10px;
    font-size: 2rem;
    position: absolute;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    user-select: none;
    flex-direction: column;
}


.mem-container .pass-level-container button{
     background-color: black;
     color: white;
     cursor: pointer;
     border: 1px solid black;
     border-radius: 5px;
     margin-top: 10px;
}

.mem-container .pass-level-container button:active{
    border-bottom: 2px solid black;
}

.mem-container .lives-title{
    position: absolute;
    top: 10rem;
}

.mem-container .lost-container{
    height: 100px;
    width: 200px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mem-container .lost-container button{
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    border:1px solid black;
    background-color: black;
    color: white;
    outline: none;
}

.mem-container .lost-container button:active{
    
    border-bottom: 1px solid white;
}