.calculator-whole-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


.calculator-whole-container .calculator-container{
    width: 300px;
    height: 500px;
    outline: 2px solid black;
    
}

.calculator-whole-container .calculator-screen{
    outline: 1px solid black;
    width: auto;
    height: 36%;
    position: relative;
    overflow: auto;
    text-align:center;

}
.keys-screen{
    display: flex;
    width: auto;
    height: 64%;
    flex-wrap: wrap;
    font-weight: bold;
    
}

.previous-string{
    position: absolute;
    margin-top: 3rem;
    width: 100%;
    height: 35px;
    color: #A9A9A9;
    text-align: right;
    right: 1rem;
    font-size: 30px;
}

.current-string{
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    height: 80px;
    margin-top: 4rem;
    color: black;
    text-align: right;
    right: 1rem;
    bottom: 0;
    font-size: 40px;
    font-weight: bold;
}

.calculator-key{
    outline: 1px solid black;
    width: 25%;
    height: 16.66666666666667%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


.calculator-key:active{
    background-color: cornflowerblue;
}

