
.drawing-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.drawing-container canvas {
    width: 650px;
    height: 600px;
    background-color: white;
    border: 1px solid cornflowerblue;
}

.drawing-container .tools-container {
    margin-top: -4px;
    padding: 1rem;
    background-color: cornflowerblue;
    display: flex;
    width: 650px;
}

.drawing-container .tools-container .size-button {
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    padding: .5rem;
    outline: none;
    cursor: pointer;
    border: none;
}

.drawing-container .tools-container .size-button:hover {
    background-color: black;
    color: white;
}

.drawing-container .tools-container .size-button:active {
    border: 1px solid cornflowerblue;
}

.drawing-container .tools-container span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: .25rem;
    background-color: white;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.drawing-container #color {
    outline: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: .25rem;
    background-color: white;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}