

.weatehr-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b5b5b5b5;
    user-select: none;
}

.weatehr-container .container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.weatehr-container .searchInput {
    outline: none;
    padding: .75rem 2rem;
    border-radius: 2rem;
    border: none;
}

.weatehr-container .weatherinfo-container img {
    border-radius: 50%;
    width: 75px;
}

.weatehr-container .weatherinfo-container {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatehr-container .weatherinfo-container span {
    padding: 1rem;
}