
.todo-container{
    margin: 0;
    background-color: #eeee;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.todo-container h1 {
    font-size: 6rem;
    color: #fd5c63;
    text-align: center;
    opacity: .4;
}

.todo-container form {
    max-width: 100%;
    outline: none;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.todo-container .todoInput {
    color: cadetblue;
    display: block;
    width: 100%;
    padding: 5px 20px;
    font-size: 2rem;
    border: none;
}

.todo-container .todoInput::placeholder {
    color: #b5b5b5b5;
}

.todo-container .todos {
    background-color: white;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-container .todos li {
    color: cadetblue;
    border-top: 1px solid #b5b5b5b5;
    font-size: 2rem;
    cursor: pointer;
    padding: 5px 20px;
}

.todo-container .todos li.completed {
    text-decoration: line-through;
    color: #b5b5b5b5;
}

.todo-container small {
    color: #b5b5b5b5;
    display: block;
    text-align: center;
}